:root {
  --color-line: #888;
  --color-text-fainter: #444;
  --color-text-light: #888;
  --color-bg-alt: #eee;
  --color-plus: hsl(100, 50%, 50%);
  --border: var(--line-width) solid var(--color-line);
}

[data-color="1"] { --color-index: 1; }
[data-color="2"] { --color-index: 2; }
[data-color="3"] { --color-index: 3; }
[data-color="4"] { --color-index: 4; }
[data-color="5"] { --color-index: 5; }
[data-color="6"] { --color-index: 6; }
[data-color="7"] { --color-index: 7; }
[data-color="8"] { --color-index: 8; }
[data-color="9"] { --color-index: 9; }

[data-color] {
  --hue: calc(160 + 80 * var(--color-index));
  --sat: 90%;
  --ltn: 100%;
  background: hsl(var(--hue), var(--sat), calc((50% + 2*var(--ltn))/3));
  --color-line: hsl(var(--hue), var(--sat), 50%);
  --color-text-fainter: hsl(var(--hue), calc(var(--sat)/2), calc((3*50% - var(--ltn))/4));
  --border: var(--line-width) solid var(--color-line);
}

[data-color="all"] {
  background: linear-gradient(
    .32turn,
    hsl(0, 90%, 85%),
    hsl(50, 90%, 85%),
    hsl(120, 90%, 85%),
    hsl(190, 90%, 85%),
    hsl(240, 90%, 85%));
}

[data-color="cross"] {
  background: linear-gradient(.125turn, transparent 42%, red 45% 55%, transparent 58%),
              linear-gradient(-.125turn, transparent 42%, red 45% 55%, transparent 58%);
}

[data-color="grey"] {
  --sat: 0%;
}

.color-fainter {
  color: var(--color-text-fainter);
}
