:root {
  --color-line: #888;
  --color-text-fainter: #444;
  --color-text-light: #888;
  --color-bg-alt: #eee;
}

.colors-param {
  --hue: calc(160 + 80 * var(--color));
  background: hsl(var(--hue), 90%, 85%);
  --color-line: hsl(var(--hue), 90%, 50%);
  --color-text-fainter: hsl(var(--hue), 50%, 25%);
}

.colors-rainbow {
  background: linear-gradient(
    .32turn,
    hsl(0, 90%, 85%),
    hsl(50, 90%, 85%),
    hsl(120, 90%, 85%),
    hsl(190, 90%, 85%),
    hsl(240, 90%, 85%));
  --color-line: hsl(0, 0%, 50%);
  --color-text-fainter: hsl(0, 0%, 25%);
}

.colors-cross {
  background: linear-gradient(.125turn, transparent 42%, red 45% 55%, transparent 58%),
              linear-gradient(-.125turn, transparent 42%, red 45% 55%, transparent 58%);
  --color-line: hsl(0, 0%, 50%);
  --color-text-fainter: hsl(0, 0%, 25%);
}

.colors-grey {
  background: hsl(0, 0%, 85%);
  --color-line: hsl(0, 0%, 50%);
  --color-text-fainter: hsl(0, 0%, 25%);
}

.color-border {
  --border: var(--line-width) solid var(--color-line);
}

.color-fainter {
  color: var(--color-text-fainter);
}
