@import "components/spa-color-elements.css";

#cnt-filter {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: var(--margin-small);
}

label {
  font-weight: 600;
  color: var(--color-text-fainter);
}

label::after {
  content: ":";
}

input {
  font: inherit;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 400px) {
  #cnt-filter {
    grid-template-columns: 1fr;
  }

  label::after {
    content: "";
  }

  label {
    font-size: 80%;
    font-style: oblique;
  }
}
