@import "components/spa-color-elements.css";

#cnt-filter {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: var(--margin-small);
  align-items: baseline;
}

label {
  font-weight: 600;
  color: var(--color-text-fainter);
}

label::after {
  content: ":";
}

input[type="text"] {
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 400px) {
  #cnt-filter {
    grid-template-columns: 1fr;
  }

  label::after {
    content: "";
  }

  label {
    font-size: 80%;
    font-style: oblique;
  }
}

#cnt-colors {
  display: flex;
}

#cnt-colors > .color-patch {
  margin-right: var(--margin-base);
}
