@import "components/spa-textbox.css";

#in {
  max-height: 100px;
}

#out {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  user-select: text;
}

#dcd-set-defaults > label {
  grid-column: 1/3;
}

#dcd-set-defaults > div {
  grid-column: 3/6;
}

.dcd-set-row input {
  margin-right: var(--margin-base);
}
