@import "components/spa-color-elements.css";
@import "components/log-record.css";
@import "components/log-game.css";

.header-line {
  height: var(--abs-line-height);
  overflow: hidden;
  display: flex;
  align-items: baseline;
}

.header-line[hidden] {
  display: none;
}

#gname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 var(--margin-small);
}

#gdate {
  flex-shrink: 0;
}

#tag-filter {
  margin-left: var(--margin-small);
}

spa-plus-list {
  flex: 1 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 calc(-1 * var(--margin-base));
  padding: 0 var(--margin-base);
}

#log-list log-record {
  touch-action: pan-y;
  margin: var(--margin-base) 0;
}

#log-list > :last-child {
  margin-bottom: 0;
}

#game-list > :nth-child(even) {
  background: var(--color-bg-alt);
}

#game-select {
  margin-left: var(--margin-base);
}

.date-marker {
  color: var(--color-text-fainter);
  display: flex;
  font-size: 80%;
  line-height: 100%;
  margin: 0 calc(-1 * var(--margin-small));
}

.date-marker[hidden] {
  display: none;
}

.date-marker::before, .date-marker::after {
  height: var(--line-width);
  background: var(--color-line);
  flex: 1;
  content: '';
  margin: auto var(--margin-small);
}
