@import "components/spa-color-elements.css";
@import "components/log-record.css";
@import "components/log-game.css";

.header-line {
  height: var(--font-line-height);
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: baseline;
  transition: height .5s;
}

.header-line > * + * {
  margin-left: var(--font-space);
}

#gname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#gdate {
  flex-shrink: 0;
}

#tag-filter {
  flex-shrink: 1;
  flex-grow: 1;
}

spa-plus-list {
  flex: 1 1;
  margin: 0 calc(-1 * var(--margin-base));
  margin-top: var(--margin-small);
}

#log-list, #game-list {
  display: block;
  position: relative;
  transition: opacity .5s;
  opacity: 1;
  z-index: 1;
  width: 100%;
  padding: 0 var(--margin-base);
  box-sizing: border-box;
}

[data-view="game-list"] #log-list, [data-view="rec-list"] #game-list {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
}

[data-view="game-list"] #log-sel {
  height: 0;
}

#log-list log-record {
  touch-action: pan-y;
  margin: var(--margin-base) 0;
}

#log-list > :last-child {
  margin-bottom: 0;
}

#game-list > :nth-child(even) {
  background: var(--color-bg-alt);
}

.date-marker {
  color: var(--color-text-fainter);
  display: flex;
  font-size: 80%;
  line-height: 100%;
  margin: 0 calc(-1 * var(--margin-small));
}

.date-marker::before, .date-marker::after {
  height: var(--line-width);
  background: var(--color-line);
  flex: 1;
  content: '';
  margin: auto var(--margin-small);
}
