@import "fonts.css";
@import "colors.css";
@import "components/spa-plus-list.css";

:root {
  font-family: 'Source Sans Pro';
  font-size: 13pt;
  width: 100%;
  height: 100%;
  --font-cap-size: 0.66em;
  --font-line-height: 1.424em;
  --font-space: 0.2em;
  --line-width: 1px;
  --margin-base: 10px;
  --margin-small: 5px;
  --pad-around-text: calc((1em - var(--font-cap-size))/2 - var(--line-width));
}

body {
  background: #ddd;
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  height: 100%;
  padding: var(--margin-base);
  box-sizing: border-box;
  position: relative;
}

main > * {
  flex-shrink: 0;
}

.hide {
  display: none;
}

:not(:defined) {
  display: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  display: inline-block;
  min-width: var(--font-cap-size);
  height: var(--font-cap-size);
  line-height: var(--font-cap-size);
  box-sizing: content-box;
  padding: var(--pad-around-text);
  border: var(--border);
  border-radius: var(--font-cap-size);
  background: var(--color-bg-alt);
}

.inline {
  height: 1em;
  width: 1em;
  vertical-align: top;
  flex-shrink: 0;
}
