@import "fonts.css";
@import "colors.css";
@import "components/spa-plus-list.css";
@import "components/spa-checkbox.css";

:root {
  --font-cap-size: 0.66em;
  --font-line-height: 1.424em;
  --font-space: 0.2em;
  --line-width: 1px;
  --margin-base: 10px;
  --margin-small: 5px;
  --margin-base-neg: calc(-1 * var(--margin-base));
  --margin-small-neg: calc(-1 * var(--margin-small));
  --patch-size: 1em;
  --pad-around-text: calc((var(--patch-size) - var(--font-cap-size))/2);
  --radius-full: 5px;
  --radius-small: 3px;
  --focus-shadow: 0 0 2px 1px #888;
  font-family: 'Source Sans Pro';
  font-size: 17.556px; /* line-height = 25.000 px */
  line-height: var(--font-line-height);
  width: 100%;
  height: 100%;
  background: var(--color-bg-sides);
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  background: var(--color-bg-main);
  color: var(--color-text-main);
  padding: var(--margin-base);
  box-sizing: border-box;
  position: relative;
}

*[hidden] {
  display: none !important;
}

*:focus {
  outline: none;
  box-shadow: var(--focus-shadow);
}

.inner-outline:focus {
  outline: none;
  box-shadow: inset var(--focus-shadow);
}

.no-outline:focus,
.patch-before:focus {
  box-shadow: none;
}

.patch-before:focus::before {
  box-shadow: var(--focus-shadow);
}

:not(:defined) {
  display: none;
}

input, textarea, button {
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

textarea {
  box-sizing: border-box;
  resize: none;
}

.patch, .patch-before::before {
  display: inline-block;
  width: var(--patch-size);
  height: var(--patch-size);
  line-height: var(--font-cap-size);
  text-align: center;
  padding: var(--pad-around-text);
  border: var(--border);
  border-radius: var(--radius-small);
  box-sizing: border-box;
  background: var(--bg);
  color: var(--fg);
}

.patch::before {
  content: "\200B";
}

.patch::after {
  content: attr(data-content);
}

.patch.checkbox:not(:checked) {
  opacity: .5;
}

.patch.checkbox:not(:checked) + label {
  opacity: .5;
}

.patch.radio:checked {
  background: var(--color-bg-emph);
}

.inline {
  height: 1em;
  width: 1em;
  vertical-align: top;
  flex: none;
  box-sizing: content-box;
}

@keyframes loading {
  from { background-position: 200%; }
  to   { background-position: 0%; }
}

.spa-loading {
  display: flex;
  justify-content: center;
  margin: 0 var(--margin-small);
  position: relative;
}

.spa-loading::before {
  content: '● ● ●';
}

.spa-loading::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 3em;
  height: 100%;
  top: 0;
  margin: 0 auto;
  background: linear-gradient(90deg, var(--color-bg-00) 0%, var(--color-bg-main) 50%, var(--color-bg-00) 100%) repeat 0/200%;
  animation: loading 1s linear infinite running;
}

.alt-row {
  background: var(--color-bg-alt);
}
