@import "colors.css";
@import "common.css";
@import "components/spa-plus-list.css";
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--color-bg-main);
  color: var(--color-text-main);
  padding: var(--margin-base);
  box-sizing: border-box;
  position: relative;
}

.patch:focus-visible {
  box-shadow: none;
}

.patch:focus-visible::before {
  box-shadow: var(--shadow-focus);
}

.patch::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  border: var(--border);
  border-radius: var(--radius-small);
  background: var(--bg);
  color: var(--fg);
  contain: size paint;
  content: attr(data-content);
}

.patch[data-content=""]::before,
.patch:not([data-content])::before {
  content: "\200B";
}

.patch.cross::before {
  color: var(--color-line);
  content: "\d7";
}

label input[type="checkbox"].patch + span {
  margin-left: var(--font-space);
}

input[type="checkbox"].patch:not(:checked),
label input[type="checkbox"].patch:not(:checked) + span {
  opacity: .5;
}

.patch.radio:checked {
  background: var(--color-bg-emph);
}

.alt-row {
  background: var(--color-bg-alt);
}

.settings {
  margin: var(--margin-base-neg) 0;
  display: grid;
  grid-template-columns: 1em auto 1em auto 1em;
  grid-gap: var(--margin-base);
  align-items: center;
  margin-bottom: 0;
}

.settings > div > label {
  grid-column: 1 / 3;
}

.settings > div > label + * {
  grid-column: 3 / 6;
}

.settings-header {
  margin: 0 var(--margin-base-neg);
  padding: 0 var(--margin-base);
  font-size: 80%;
  font-weight: 600;
  font-style: oblique;
  background: var(--color-bg-alt);
  grid-column: 1 / 6;
}

.svg-cb svg,
.img-cb img {
  height: 1em;
  vertical-align: middle;
}

.svg-cb path {
  stroke-width: 1;
  stroke: currentcolor;
  fill: none;
}

.svg-cb.fill :checked + svg path {
  fill: currentcolor;
}

.svg-cb.stroke :checked + svg path {
  stroke-width: 2;
}

.svg-cb.stroke:focus-visible svg,
.svg-cb.fill:focus-visible svg {
  filter: drop-shadow(0 0 1px #888);
}

.img-cb :not(:checked) + img {
  opacity: .5;
}

.alt-text-cb::before {
  content: attr(data-text-off);
}

.alt-text-cb:checked::before {
  content: attr(data-text-on);
}

.alt-text-cb:focus-visible {
  box-shadow: none;
  text-shadow: var(--shadow-text);
}

#m-set-theme > *,
#m-set-lang > * {
  margin-right: calc(var(--margin-base) - var(--font-space));
}

#m-set-lang .img-cb {
  filter: drop-shadow(0 0 2px #888);
}

#m-set-lang .img-cb:focus-visible {
  filter: drop-shadow(0 0 2px);
}
