@import "components/spa-textbox.css";

#in {
  font-family: var(--font-mono);
  max-height: calc(3 * var(--line-height-base));
}

#in[disabled] {
  color: var(--color-text-light);
  transition: color .5s;
}

#actions {
  display: flex;
  justify-content: space-between;
  margin: var(--margin-small) auto;
}

#actions > button {
  margin: 0 var(--margin-base);
}

button:disabled {
  opacity: .5;
}

#hist {
  margin: 0 var(--margin-base-neg);
}

#hist > div {
  padding: var(--margin-small) var(--margin-base);
}

#hist > div:nth-child(odd) {
  background: var(--color-bg-alt);
}

#error {
  border: var(--border-error);
  border-radius: var(--radius-full);
  background: var(--color-bg-error);
  padding: 0 var(--margin-small);
  margin-bottom: var(--margin-base);
}

.input {
  font-family: var(--font-mono);
  font-size: 75%;
  font-weight: 600;
  line-height: 1.5;
}

.input[data-lead]::before {
  content: attr(data-lead) ':';
  margin-right: var(--font-space);
  color: var(--color-text-light);
}

.output {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
