@import "../../css/colors.css";

:host {
  display: inline-block;
  margin: 0 .25rem;
}

:host([hidden]) {
  display: none;
}

#container {
  display: flex;
}

spa-color-patch {
  margin: 0 .25em;
}

spa-color-patch.filter:not(.selected) {
  opacity: .5;
}
