@import "../../css/colors.css";

:host {
  display: block;
}

.new-day {
  display: flex;
  font-size: 80%;
  line-height: 100%;
  align-items: center;
}

.line {
  height: var(--line-width);
  background: var(--color-line);
  flex-grow: 1;
}

.text {
  margin: 0 .2rem;
}
