@import "../../css/colors.css";

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

#content {
  display: flex;
  align-items: center;
  height: 2rem;
}

#content > * {
  flex-shrink: 0;
}

#name {
  flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#date {
  color: var(--color-text-light);
  margin-left: .25em;
}

#tools-container {
  --div-size: 1.2rem;
  width: calc(var(--div-size) + 2*var(--line-width));
  height: calc(var(--div-size) + 2*var(--line-width));
  overflow: visible;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

#tools {
  --padding: calc((var(--div-size) - var(--abs-cap-size)) / 2);
  --count: 3;
  width: var(--div-size);
  height: var(--div-size);
  flex-shrink: 0;
  overflow: hidden;
  transition: width .5s;
  background: white;
  border: var(--border);
  border-radius: var(--div-size);
  line-height: var(--div-size);
  display: flex;
  justify-content: flex-end;
}

#tools:hover, #tools:focus-within, :focus ~ #tools {
  width: calc(var(--count) * var(--div-size));
}

#tools img {
  width: var(--abs-cap-size);
  height: var(--abs-cap-size);
}

#tools > * {
  padding: var(--padding);
  flex-shrink: 0;
  outline: 0;
}

#patch {
  margin-right: .3rem;
}

#patch:not([color]), #patch[color="none"] {
  display: none;
}

#name-edit {
  border: none;
  outline: none;
  margin: 0;
  background: inherit;
  font: inherit;
  box-sizing: border-box;
  resize: none;
  padding: 0;
  flex-grow: 1;
  height: var(--abs-line-height);
}

#name-edit:focus {
  box-shadow: 0 0 .2rem #888;
}

#confirm {
  background: #f006;
  padding: 0 .2rem;
  border-radius: .5rem;
  outline: none;
}
