@import "spa-textbox.css";

log-record {
  display: block;
  border: var(--border);
  border-radius: var(--radius-full);
  contain: content;
}

log-record[data-state="nascent"] .log-record-header,
log-record[data-state="nascent"] .log-record-text {
  display: none;
}

log-record[data-state="base"] .log-record-props {
  display: none;
}

.log-record-header {
  display: flex;
  border-bottom: var(--border);
  font-size: 80%;
  line-height: 1;
  align-items: center;
}

.log-record-header > * {
  padding: 0 var(--margin-small);
}

.log-record-header > button:last-of-type {
  border-top-right-radius: var(--radius-full);
}

.log-record-text {
  margin: var(--margin-small);
}

.log-record-fill {
  flex: 1;
}

.log-record-props {
  margin: var(--margin-small);
  display: flex;
  align-items: center;
}

.log-record-colorsel {
  flex: 1;
  line-height: 1;
}

@keyframes geo-waiting {
  0% { opacity: 1; }
  30% { opacity: 1; }
  50% { opacity: .2; }
  80% { opacity: .2; }
  100% { opacity: 1; }
}

.log-record-geo-button {
  margin-left: auto;
}

.log-record-geo-icon, .log-record-geo-button {
  background: url("../../images/geo.svg") content-box center/100% no-repeat;
}

log-record[data-geo-state="none"] .log-record-geo-icon {
  display: none;
}

log-record[data-geo-state="ok"] .log-record-geo-button {
  background-image: url("../../images/geo-remove.svg");
}

log-record[data-geo-state="success"] .log-record-geo-button {
  background-image: url("../../images/geo-succ.svg");
}

log-record[data-geo-state="waiting"] .log-record-geo-icon,
log-record[data-state="nascent"][data-geo-state="waiting"] .log-record-geo-button {
  animation: 1s geo-waiting infinite running;
}

log-record[data-geo-state="error"] .log-record-geo-icon,
log-record[data-state="nascent"][data-geo-state="error"] .log-record-geo-button {
  background-image: url("../../images/geo-fail.svg");
}
