spa-checkbox:not(:empty)::before {
  margin-right: var(--font-space);
}

spa-checkbox.show-opacity[data-state="unchecked"] {
  opacity: .5;
}

spa-checkbox.patch.show-state[data-state="checked"]::after,
spa-checkbox.patch-before.show-state[data-state="checked"]::after {
  content: "+";
}

spa-checkbox.patch.show-state[data-state="unchecked"]::after,
spa-checkbox.patch-before.show-state[data-state="unchecked"]::after {
  content: "×";
}
