@import "../common.css";

:host {
  --div-size: var(--line-height-base);
  --div-size-border: calc(var(--div-size) + 2 * var(--line-width));
  --padding: calc((var(--div-size) - 1em) / 2);
  --count: 1; /* dummy */
  width: var(--div-size-border);
  height: var(--div-size-border);
  overflow: visible;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

:host([hidden]) {
  display: none;
}

#expander {
  position: absolute;
  right: 0;
  width: var(--div-size);
  height: var(--div-size);
  overflow: hidden;
  transition: width .5s, height .5s;
  background: var(--color-bg-main);
  border: var(--border);
  border-radius: var(--div-size);
  contain: strict;
}

#container {
  position: absolute;
  top: var(--padding);
  right: 0;
  width: calc(var(--count) * var(--div-size));
  height: 1em;
  line-height: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#expander:hover, #expander:focus, #expander:focus-within {
  width: calc(var(--count) * var(--div-size));
  height: var(--div-size);
}

::slotted(*) {
  flex: none;
  border-radius: var(--radius-small);
}
