/*@import "../common.css"; -- always included by modules.css */

#content {
  flex: 1;
  overflow: hidden;
}

#titlebar {
  margin: var(--margin-base);
  margin-bottom: 0;
  display: flex;
}

#titlebar button {
  margin-left: var(--margin-base);
}

#title {
  flex: 1;
  font-weight: 600;
}

#update {
  display: var(--display-update);
}

#update-ticker {
  position: absolute;
  right: var(--padding);
  top: 0;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}
