@import "../modules.css";

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
}

:host([hidden]) {
  display: none;
}

#main {
  max-width: 400px;
  height: 10em;
  margin: -10em auto 0;
  background: var(--color-bg-main);
  box-shadow: var(--shadow-modal);
  display: grid;
  grid: auto-flow dense 2em / [left] 2em 2em 1fr 2em [right] 2em;
}

button.key {
  width: 1.4em;
  height: 1.4em;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-kbd);
  margin: var(--margin-small);
}

#space { grid-area: 3/4/4/5; }
#bsp { grid-area: 4/4/5/5; }
#enter { grid-area: 5/4/6/5; }

#side-left, #side-right { display: contents; }

#side-left > * {
  grid-column: left;
  border-right: var(--border);
}

#side-right > * {
  grid-column: right;
  border-left: var(--border);
}

#side-left > *, #side-right > * {
  background: var(--color-bg-alt);
}

#module {
  grid-area: 1/3/6/4;
}

#module > * {
  width: 100%;
  height: 100%;
}

#kbd-flg-colors {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--margin-base);
}

#kbd-flg-sugg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--margin-base);
}
