@import "../../css/colors.css";

:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

#container {
  display: flex;
}

spa-color-patch {
  padding: 0 .25em;
}

spa-color-patch:first-of-type {
  padding-left: 0;
}

spa-color-patch:last-of-type {
  padding-right: 0;
}

spa-color-patch.filter:not(.selected) {
  opacity: .5;
}
