@import "../modules.css";

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
}

:host([hidden]) {
  display: none;
}

#main {
  max-width: 400px;
  height: 10em;
  margin: -10em auto 0;
  background: var(--color-bg-main);
  box-shadow: var(--shadow-modal);
  display: grid;
  grid: auto-flow dense 2em / [left] 2em 2em 1fr 2em [right] 2em;
}

button.key {
  width: 1.4em;
  height: 1.4em;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-kbd);
  margin: var(--margin-small);
}

#space { grid-area: 3/4/4/5; }
#bsp { grid-area: 4/4/5/5; }
#enter { grid-area: 5/4/6/5; }

#default {
  grid-area: 1/4/2/5;
  background: var(--color-bg-emph);
}

#side-left, #side-right { display: contents; }

#side-left > * {
  grid-column: left;
  border-right: var(--border);
}

#side-right > * {
  grid-column: right;
  border-left: var(--border);
}

#side-left > *, #side-right > * {
  background: var(--color-bg-alt);
}

#module {
  grid-area: 1/3/6/4;
}

#module > * {
  width: 100%;
  height: 100%;
}

#kbd-braille {
  width: calc(0.85 * 8rem);
  height: 8em;
  margin: 1em auto;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-auto-flow: column;
  position: relative;
}

#kbd-braille-glyph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* The Braille glyphs are exactly 1em high, aligned vertically centered with caps.
     The dot diameter is 0.3em and gap = 0.05em. We want to add half the gap above and below. */
  font-size: calc(8rem * 1000 / 1050);
  /* With line-height = 1, the center line would be a bit too high. We use the same mechanism
     as in spa-plus-list.css to center caps within given box height. */
  line-height: calc(8rem + var(--font-cap-size) + var(--font-descent) - var(--font-ascent));
  text-align: center;
  color: var(--color-text-light);
  pointer-events: none;
}

#kbd-flg-colors {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--margin-base);
}

#kbd-flg-sugg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--margin-base);
}

#kbd-digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 10em;
  margin: 0 auto;
  align-items: center;
}
