:host {
  display: block;
  overflow: auto;
  scrollbar-width: none;
}

:host([hidden]) {
  display: none;
}

:host([data-pause-scroll="1"]) {
  overflow: hidden;
}

:host::-webkit-scrollbar {
  display: none;
}

#top, #bottom {
  height: 1px;
}

#top {
  margin-bottom: -1px;
}

#bottom {
  margin-top: -1px;
}

#content::before, #content::after {
  position: sticky;
  display: block;
  height: 2rem;
  z-index: 2;
  pointer-events: none;
  content: '';
  visibility: hidden;
}

#content::before {
  background: linear-gradient(var(--color-bg-75) 0%, var(--color-bg-00) 100%);
  top: 0;
  margin-bottom: -2rem;
}

#content::after {
  background: linear-gradient(var(--color-bg-00) 0%, var(--color-bg-main) 100%);
  bottom: 0;
  margin-top: -2rem;
}

#content.top::before {
  visibility: visible;
}

#content.bottom::after {
  visibility: visible;
}
