/*@import "../common.css"; -- always included by modules.css */

#content {
  flex: 1;
  overflow: hidden;
}

#titlebar {
  margin: var(--margin-base);
  margin-bottom: 0;
  display: flex;
}

#titlebar button {
  margin-left: var(--margin-base);
}

#title {
  flex: 1;
  font-weight: 600;
}

:host(:not([data-module="list"])) #title::before {
  content: "\2190";
  margin-right: var(--margin-small);
}

#settings {
  position: relative;
}

#update-ticker {
  display: none;
  position: absolute;
  right: -.1em;
  top: calc((var(--line-height-base) - 1em + var(--font-ascent) - var(--font-descent) - var(--font-cap-size)) / 2 - .1em);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

:host(.updateTicker) #update-ticker {
  display: initial;
}
