spa-plus-list {
  display: block;
}

.spa-plus-button {
  margin: 0 auto;
  transform: translateZ(0);
  background: var(--color-plus);
  font-weight: 600;
  color: white;
  text-align: center;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 2rem;
  /* This centers caps within the target 2rem. We need text-top to be cap-size/2 + target/2 above baseline, which is (T+C)/2-A above ascent.
   * We need the same padding below descent, making up the total (T+C)/2 + D + (T+C)/2-A = target + cap-size + descent - ascent. */
  line-height: calc(2rem + var(--font-cap-size) + var(--font-descent) - var(--font-ascent));
  overflow-y: hidden;
  contain: strict;
}

.spa-plus-button[data-size="big"] {
  position: absolute;
  z-index: 3;
  right: 1rem;
  bottom: calc(1rem - var(--margin-base));
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 4px #0004;
  font-size: 2.5rem;
  line-height: calc(3rem + var(--font-cap-size) + var(--font-descent) - var(--font-ascent));
}

.spa-plus-button[data-size="big"]:focus-visible {
  box-shadow: 2px 2px 4px #0004, 0px 0px 5px var(--color-plus);
}

.spa-plus-button::after {
  content: '+';
}

.spa-plus-item {
  margin-top: var(--margin-base);
  height: calc(2rem + 1px);
}
