spa-color-sel > .patch {
  position: relative;
  margin-right: var(--margin-base);
}

spa-color-filter {
  position: relative;
  z-index: 0;
}

spa-color-filter > .patch {
  position: relative;
}

spa-color-filter > [data-color="all"]:checked ~ * {
  margin-left: -1em;
  visibility: hidden;
  transition: margin-left .5s, visibility .5s step-end;
}

spa-color-filter > [data-color="all"]:not(:checked) ~ * {
  margin-left: var(--margin-base);
  visibility: visible;
  transition: margin-left .5s, visibility .5s step-start;
}
