spa-checkbox.patch-before {
  display: inline-flex;
  align-items: baseline;
}

spa-checkbox.patch-before::before {
  content: "\200B";
}

spa-checkbox:not(:empty)::before {
  margin-right: var(--font-space);
}

spa-checkbox.show-opacity[data-state="unchecked"] {
  opacity: .5;
}

spa-checkbox.patch.show-state[data-state="checked"]::before,
spa-checkbox.patch-before.show-state[data-state="checked"]::before {
  content: "+";
}

spa-checkbox.patch.show-state[data-state="unchecked"]::before,
spa-checkbox.patch-before.show-state[data-state="unchecked"]::before {
  content: "×";
}
