@import "../../css/colors.css";

:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

div {
  box-sizing: border-box;
  width: var(--abs-cap-size);
  height: var(--abs-cap-size);
  border: var(--border);
  border-radius: 2px;
}
