:host {
  display: flex;
  justify-content: center;
  margin: 0 var(--margin-small);
}

:host([hidden]) {
  display: none;
}

@keyframes loading {
  0% { opacity: 0.2; }
  40% { opacity: 1; }
  80% { opacity: 0.2; }
  100% { opacity: 0.2; }
}

span {
  opacity: 0.2;
  animation: 3s loading ease-in-out infinite running;
  margin: 0 .1em;
}

span:nth-of-type(2) {
  animation-delay: .5s;
}

span:nth-of-type(3) {
  animation-delay: 1s;
}
