@import "../common.css";

:host {
  --div-size: var(--line-height-base);
  --div-size-border: calc(var(--div-size) + 2 * var(--line-width));
  --padding: calc((var(--div-size) - 1em) / 2);
  --count: 1; /* dummy */
  width: var(--div-size-border);
  height: var(--div-size-border);
  overflow: visible;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

:host([hidden]) {
  display: none;
}

#expander {
  width: var(--div-size-border);
  height: var(--div-size-border);
  box-sizing: border-box;
  flex: none;
  overflow: hidden;
  transition: width .5s, height .5s;
  background: var(--color-bg-main);
  border: var(--border);
  border-radius: var(--div-size);
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--padding);
  column-gap: calc(2 * var(--padding));
  contain: strict;
}

#expander:hover, #expander:focus, #expander:focus-within {
  width: calc(var(--count) * var(--div-size) + 2 * var(--line-width));
  height: var(--div-size-border);
}

::slotted(*) {
  flex: none;
  border-radius: var(--radius-small);
}
