/*@import "../common.css"; -- always included by modules.css */

#content {
  flex: 1;
  overflow: hidden;
}

#titlebar {
  margin: var(--margin-base);
  margin-bottom: 0;
  display: flex;
}

#titlebar button {
  margin-left: var(--margin-base);
}

#title {
  flex: 1;
  font-weight: 600;
}

:host(:not([data-module="list"])) #title::before {
  content: "\2190";
  margin-right: var(--margin-small);
}

#update {
  display: var(--display-update);
}
