@import "../common.css";

:host {
  display: inline;
}

:host([hidden]) {
  display: none;
}

#ref {
  position: relative;
}

#ref.open {
  z-index: 1;
}

#header {
  position: relative;
  padding: 0 var(--margin-small);
  margin-left: var(--margin-small-neg);
  white-space: nowrap;
}

.open #header {
  z-index: 1;
  background: var(--color-bg-main);
}

#header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: var(--border);
  border-color: transparent;
  border-radius: var(--radius-full);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.open #header::after {
  border-color: var(--color-line);
  border-bottom-color: var(--color-bg-main);
  transition: border-color .5s;
}

#arrow {
  margin-left: var(--margin-small);
}

#arrow:focus-visible {
  text-shadow: var(--shadow-text);
}

#arrow::after {
  content: '\25bc';
}

#ref:not(.open) #arrow::after {
  content: '\25bd';
  color: var(--color-text-fainter);
}

#ext {
  position: absolute;
  top: calc(100% - var(--line-width));
  left: var(--margin-small-neg);
  min-width: calc(100% + var(--margin-small) + var(--radius-full));
  box-sizing: border-box;
  background: var(--color-bg-main);
  border: var(--border);
  border-radius: var(--radius-full);
  border-top-left-radius: 0;
  padding: var(--margin-small) var(--margin-base);
  opacity: 1;
  transition: opacity .5s;
}

:not(.open) > #ext {
  visibility: hidden;
  opacity: 0;
}
