spa-color-sel[hidden], spa-color-filter[hidden] {
  display: none;
}

spa-color-patch.filter:not(.selected) {
  opacity: .5;
}

spa-color-patch {
  display: inline-block;
  width: var(--font-cap-size);
  height: var(--font-cap-size);
  line-height: var(--font-cap-size);
  text-align: center;
  padding: var(--pad-around-text);
  border: var(--border);
  border-radius: calc(1.5*var(--pad-around-text));
}

spa-color-patch::after {
  content: "\200B";
}

spa-color-patch[hidden] {
  display: none;
}

spa-color-sel, spa-color-filter {
  display: flex;
  max-width: calc(var(--count)*(1em + var(--margin-base)) - var(--margin-base));
  justify-content: space-between;
}
